@import "tailwindcss";

:root {
  --background: #101319;
  --foreground: #101319;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #101319;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
